form{
border:2px solid black;
width:0px;
height:0px;
text-align:center;
color:white;
background-color:#333;
position:relative;
top:-20px;
left:-20px;
overflow:hidden;
}

#name,#password{
text-align:center;
}

#password{
position:absolute;
top:145px;
left:88px;
}

#checkbox,#submit,span{
position:absolute;
top:175px;
}

#checkbox{
position:absolute;
left:80px;
}

#submit{
position:absolute;
left:220px;
}

span{
position:absolute;
left:100px;
}
